    <app-kuis-header></app-kuis-header> 

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>Mencoba</h2>
      <!-- <h1> {{ title }} </h1>
      <hr/> -->
      <!-- memakai tag -->
      <!-- <app-server></app-server> -->
      <!-- <div app-server></div> -->
      <!-- <div class="app-server"></div> -->
      <!-- <app-servers></app-servers> -->
      <!-- <app-tugas3></app-tugas3> -->
      <!-- <app-tugas></app-tugas> -->
      <!-- <app-test></app-test> -->
      <!-- <app-pegawai></app-pegawai> -->
      <app-kuis-rido></app-kuis-rido> 

    </div>
  </div>
</div>
